<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">   
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p> {{help}}</p>
        <h3>How do we use this App?</h3>
        <p>On the main page, just enter the location you are looking for and the application will tell you the weather for that particular location</p>
        
        </div>
        {{>footer}}
    </body>
</html>
