<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/styles.css">
            

        This is the home page
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> Use this site to find the weather anywhere across the world! Just type in the name of the place and hit that Search button and we will tell you whats its like there !  </p>
            <form >
                <input placeholder="Enter Location">
                <button> Search </button>

            </form>

            <p id="message-1" ></p>
            <p id="message-2"></p>

        </div>
        {{>footer}}
        <script src='JS/app.js'></script>
    </body>
</html>
